body 
	{font-family: "Open Sans", sans-serif;}

/* CSS Reset (default margin and padding of the webpage elements into 0.*/

	{ margin: 0;
	padding: 0;
	box-sizing: border-box;	}

/* box sizing property defines width and height of an element are calculated */

/* border-box value includes padding and border properties of an element to the 
total height and width in it's computation. */

nav	
	/* shorthand for padding-top, bottom, right and left 0.8rem. Equal sides of padding. */
	/*	REM means root element measurement/ default is 16 px */
	/*	margin, padding, and border properties can be set on one side only. 
	just add the side you need to modify*/
	{padding: .085 rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;}

/* margin is best used when there is other elements. */
/* padding is best used when creating space. */

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

#intro{
	/*
		padding-top: 2rem
		padding-right: 10%
		padding-left: 10%
		padding-bottom:3rem
	*/
	/*
	x% - takes x% of the parent element's height/width
		since body tag is the parent element of the #intro section, we will take 10% of its width, which is 10% of the full-page width, and set it as padding for the left and right side of the #intro section
	*/
	padding: 2rem 10% 3rem;
	/*
	padding: 2rem 10% 3rem 150px;
	padding-top: 2rem
	padding-left: 10%
	padding-bottom: 3rem
	padding-right: 5rem
	*/
	/*
	padding: 2rem 10%;
	padding-top: 2rem
	padding-left: 10%
	padding-bottom: 2rem
	padding-right: 10%
	*/
	text-align: center;}

.header 
	{text-align: center; }

#intro h2, #intro p 
	{margin-bottom: 1 rem;}

#intro button 
		{color: white;
		font-weight: bold;
		background-color: #c2195b;
		font-size: 1rem;
		border-radius: 25px;
		padding: 1rem;}

	/* default border is 2 px */
	/*	rounds the corners of the borders to the specified measurement */

#succeed-info h2
	{padding: 2rem 10% 3 rem;}
	{margin-bottom: 1rem;}

#succeed-info h3
	{text-align: center;
	margin-bottom: 1rem;}

#succeed-info .card 
	{display: inline-block;
	/*direction where to align the elements*/
	vertical-align: top;
	/*	allows card to have equal side*/
	min-height: 175px;
	width: 30%;
	/*	30% of the parent element to avoid overflowing of the element 
	that can lead to horizontal scrolling*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;}

	footer 
		{padding: 0.7rem;}

	footer span 
		{margin-left: 0.5rem;
		margin-right: 0.5rem;}










