* body 
	{font-family: "Open Sans", sans-serif;}
	{font-size: 18px;}
	{margin: 0;
	padding: 0;
	box-sizing: border-box;}

nav	
	{padding: .085 rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;}

nav .nav, nav .nav-logo 
	{margin: 0.5rem;
	display: inline;}

#intro
	{padding: 2rem 10% 3rem;
	text-align: center;}

.header 
	{text-align: center; }

#intro h2, #intro p 
	{margin-bottom: 1 rem;}

#intro button 
		{color: white;
		font-weight: bold;
		background-color: #c2195b;
		font-size: 1rem;
		border-radius: 25px;
		padding: 1rem;}

#succeed-info h2
	{padding: 2rem 10% 3 rem;}
	{margin-bottom: 1rem;}

#succeed-info h3
	{text-align: center;
	margin-bottom: 1rem;}

#succeed-info .card 
	{display: inline-block;
	vertical-align: top;
	min-height:175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;}

footer 
		{padding: 0.7rem;}

footer span 
		{margin-left: 0.5rem;
		margin-right: 0.5rem;}

#pre-footer 
		{vertical-align: top;
		background-color:#001434;
		color: white;
		line-height: 18px;
		padding: 0.5rem;}

.about-us 
		{display: inline-block;
		vertical-align: top;
		min-height: 50px;
		width: 20%;
		margin-left: 0.8rem;
		margin-right: 0.8rem;
		margin-bottom: 1rem;}


#follow-us 
		{display: inline-block;
		vertical-align: bottom;
		min-height: 50px;
		width: 20%;
		margin-left: 0.8rem;
		margin-right: 0.8rem;
		margin-bottom: 1rem;}

